

body {
  font-family: sans-serif;
}

/*=========
THEMATIC BREAKS
==========*/

hr {
  width: 60px;
  height: 2px;
}
.hr-grey{
  width: 200px;
}

.hr-black {
  border-color: black;
  border-width: 2px;
}
/*===========
NAVBAR
=============*/
.navbar-default {
  margin-bottom: 0px;
  background-color: #6ece6e;
  background-image: linear-gradient(to bottom,#6ece6e ,#6ece6e 100%);
  border: 0;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  top: 10px;
}

.centered {
  text-align:center;
}



/*=======
icons
============*/
.icons {
  font-size: 40px;
  top: 10px;
}

.fa {
  display: inline;
}

.social-media-inline{
  display: inline !important;
}

#nav-icons {
  padding-top: 10px;
}
/*========
MODAL
==========*/
.modal-content {
  height: 300px;
}

.modal {
  width: 80%;
  margin-left: 9%;
  margin-top:100px;
}
/*==========
IMAGE
============*/
.roundimage {
  border-radius: 50%;
}

.carousel-inner>.item>img {
  width: 100%;
  height: 600px;
}

/*===========
TESTIMONIAL
=============*/
#testimonials {
  padding-bottom: 20px;
}

.italic {
  font-style: italic;
}


/*=====
Contact
=======*/
.contact {
  height: 600px;
  width: 100%;
  background-color: #98dc98;
}

.contacttext {
  color: #ffffff;
  font-size: 14pt;
  font-weight: bold;
}

#contactcolor {
  color: #ffffff;
}

/*=========
FOOTER
==========*/

.footer {
  background-color: #5d795d;
  width: auto;
  height: 150px;
}

.navbar-nav>li>a {
  color: white;
}

.navbar-nav>li>a:hover {
  color: red;
  background: rgba(0,0,0,0);
}

/*======
MAP
========*/
#map {
  width: 33%px;
  height: 400px;
  background-color: #CCC;
  margin-top: 20px;
}

/*============
MEDIA QUERIES
=============*/
@media screen and (max-width:768px) {
  #testrow{
    margin-left: 25%;
  }

  .social-media-inline{
    clear: both;
  }

  .navbar-collapse.collapse {
  display: block!important;
  }

  .navbar-nav>li, .navbar-nav {
  float: left !important;
  }

}
